<head>
    
    <link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">
    
</head>
<body>
<% if(locals.user){%>
    <div class=" chat-box-container" >
        <div class="chatterlist"></div>
        <div class="chatarea" id="user-chat-box" >
            <ul class=" message-list" >
                <li class=" self-message " >  <span class="self-span" > hy there!.. </span>  </li>
                <li class=" Other-message " > <span class="others-span" >  hello there!.. </span> </li>
            </ul>
            <div class="send-message-container" >
                <input type="text" name="message" class="message-form" placeholder="  Type your message here.. " cols="80" >
                <button type="submit" class="message-sending-btn " > Send message </button>
            </div>
        </div>
    </div>
<%} %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="<%= assetPath('js/chat_engine.js') %>" ></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine( 'user-chat-box'  , '<%= locals.user.email %>' )
    </script>
<% } %>
</body>