<link rel="stylesheet" href="/css/chatbox.css">
<% if(locals.user){%>
    <div class=" chat-box-container" >
        <div class="chatterlist"></div>
        <div class="chatarea">
            <ul class=" message-list" >
                <li class=" self-message " >  <span> hy there!.. </span>  </li>
                <li class=" Other-message " > <span>  hello there!.. </span> </li>
            </ul>
            <div class="send-message-container" >
                <input type="text" name="message" class="message-form" placeholder="  Type your message here.. " cols="80" >
                <button type="submit" class=" message-sending-btn " > Send message </button>
            </div>
        </div>
    </div>
<%} %>