<head>
    
</head>
<body>
    <div class="window" >
        <h3>Enter the email account associated with your account and we'll send you a security-code to reset your account </h3>
        <form action="/users/varifysecuritycode" method="post"  >
            <input type="email" name="confirmemail" id="email" placeholder=" your email " required  >
            <button type="submit" > Submit </button>
        </form>
    </div>
</body>