<head>
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
</head>
<body >

    <div>
        
    </div>
    <div class="pagefooter" >

        &#169; Copyright 2023-2024 by Ritesh. 	&#174; All Rights Reserved.

    </div>
      

</body>