<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body >

    <div>
        
    </div>
    <div class="pagefooter" >

        &#169; Copyright 1999-2023 by Ritesh. 	&#174; All Rights Reserved.

    </div>
      

</body>