<html>
    <head>
        <title><%= title %></title>
        
    </head>
    <body>
        <!-- <%- include('posts'); %> -->
        <h1>welcome to codesocial / <%= title %> </h1>
        <a href="users" >users</a>
        <br>
        <a href="posts" >posts</a>
        <!-- <%- include('users'); %> -->
        
    </body>
</html>