
        <link rel="stylesheet" href="/css/posts.css">

<body>


 
     <div class="postdiv">

         <h1 class="vcenter " style="text-align:center" > welcome to posts </h1>
        <div class="vcenter" >

            <form id="create-post" method="POST" action="/posts/create_post"  >
                <input name="content" id="contentinput" placeholder="type here ..." type="text">
                <button type="submit" > post </button>
            </form>
        </div>
        <div class="allposts">
            <%-include('posts_post')-%>
        </div>


      <div class="friends" >
        <h3> Contacts </h3>
       <% for(let f of users) { %>
        <% if(f._id != user.id){ %>
            <div class="person" id="<%= f._id %>" >  <%=  f.name  %> </div>
        <% } %>
      <% } %>
      </div>
      
      
        <%-include('chatbox')-%>
      
            
    </div>

       <script src="/js/posts.js" ></script>
       <script src="/js/home_post.js" ></script>
      
</body>
</html>