<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/posts.css">
    
</head>
<body>


 
     <div class="postdiv">

         <h1 class="vcenter " style="text-align:center" > welcome to posts </h1>
        <div class="vcenter" >

            <form  method="POST" action="/posts/create_post"  >
                <input name="content" id="contentinput" placeholder="type here ..." type="text">
                <button type="submit" > post </button>
            </form>
        </div>
         <%-include('posts_post')-%>


      <div class="friends" >
        <h3> Contacts </h3>
       <% for(let f of users) { %>
        <% if(f._id != user.id){ %>
            <div class="person" id="<%= f._id %>" >  <%=  f.name  %> </div>
        <% } %>
      <% } %>
      </div>
      
            
    </div>

       <script src="/js/posts.js" ></script>
</body>
</html>