<head>
    <link rel="stylesheet" href="/css/resetpass.css">
</head>
<body>
    <div class="forgetpassworddiv" >
        <br>
        <h3> Enter the security code </h3>
        <form method="post" action="/users/setnewpassword" >
            <h4>Please check your emails for a message with your Security-code</h4>
            <input type="text" placeholder=" enter OTP" name="otp" id="otp" required >
            <h4> Enter new password  </h4>
            <input type="password" placeholder="enter new password" name="newpassword" id="pass"  required >
            <h4> Re-Enter new password  </h4>
            <input type="password" placeholder="enter new password" name="cnewpassword" id="cpass"  required >
                <br>
            <button type="submit" > Update password! </button>
        </form>
    </div>

</body>