<head>
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
    <h1  > welcome to users profile </h1>
    <h1><%=userdata.name%></h1>
       <h1> <%=userdata.email%></h1>

    
    <div class="postdiv" >

        <%- include('posts_post') , {posts : posts} -%>
    
    </div>
   

    <script src="/js/posts.js" ></script>
</body>
</html>