*{
    box-sizing: border-box;
    margin: 0cap;
    padding: 0cap;
}
.chat-box-container{
    margin-top: 10px;
    height: 90vh;
    width: 100%;
    border: 1px solid blueviolet;
    display: flex;
    .chatterlist{
        width: 25%;
        border: 1px solid green;
    }
    .chatarea{
        width : 75%;
        height: 100%;
        border: 1px solid yellow;
        position: relative;

        .message-list{
            list-style: none;
            width: 100%;
            height: 92%;
            overflow-y: scroll ;
            .self-message , .Other-message {
                width: 100%;
                position: relative;
                min-height: 40px;
                display: inline-block;
                margin: 10px 0px ;
                .avatar_name{
                    height: 40px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    // border: 1px solid red;
                } 
                .fa-ellipsis-vertical{
                    position: absolute;
                    top: 5px ;
                    right: -5px;
                    // border: 1px solid red;
                    font-size: 18px;
                    margin: 5px 10px ;
                }
                .msgoption{
                    background-color: white;
                    padding: 5px;
                    width: 150px;
                    position: absolute;
                    right: 5px;
                    top: 29px;
                    opacity: 0;
                    pointer-events: none;

                    border: 2px solid #cad2c5;
                    z-index: 200;
                    font-size: 18px;
                    text-align: center;
                    transform: translateY(30px);
                    transition:  opacity 150ms ease-in-out , transform 220ms ease-in-out  ;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    flex-direction: column;


                    .options{
                        font-size: 17px;
                        width: 90%;
                        border-bottom: 1px solid #cad2c5;
                    }
                }
                .active{
                    top: 25px;
                    opacity: 100;
                    pointer-events: all !important;
                    transform: translateY(2px);
                    transition:  opacity 150ms ease-in-out , transform 220ms ease-in-out  ;
                }
                // border: 1px solid blue ;       

            }
            .Other-message .avatar_name{
                left: 20px;
            }
            .self-message .avatar_name{
                right: 20px;
            }
            .self-span , .others-span {
                // height: 100%;
                // overflow: visible ;
                min-height: 40px;
                padding: 10px 15px  ;
                display: inline-block;
                border-radius: 10px;
                background-color: aliceblue;
                position: absolute;
                font-size: 17px;
                letter-spacing: 1px;
                max-width: 70%;
                .msgtime{
                    font-size: 14px;
                    margin: 5px 0px ;
                }
            }
             .chatavatar{
                width: 35px;
                left: 20px;
                // position: absolute;
                border-radius: 10px;
            }
            .msgusername{
                position: absolute;
                bottom: -23px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            
            .self-span{
                right: 70px;
                .msgtime{
                    text-align: right;
                }
            }
            .others-span{
                left: 70px;
            }

        }
   
        .send-message-container{
                height: 8%;   
                // position: absolute;
                // bottom: 0px;
                width: 100%;
                display: flex;
                align-items: center;
                background-color:#5e548e4d;
                // border-radius: 10px ;
                .message-form{
                    position: absolute;
                    left: 5%;
                    resize: none;
                    height: 40px;
                    width: 600px;
                    border-radius:10px ;
                    border: none;
                    padding: 1px 10px;
                    color: #5e548e;
                    font-size: 15px;
                    font-weight: 400;
                    overflow-y: scroll;
                }
                .message-form::-webkit-scrollbar {
                    display: none;
                }
                .message-form:focus{
                    border: none;
                    outline: none;
                    padding: 1px 10px;
                }
                .message-form::placeholder{
                    color: #5e548e;

                }
                .message-sending-btn{
                    color: #5e548e;
                    border: 0px solid transparent;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 600;
                    font-family: sans-serif;
                    letter-spacing: 1px;
                    position: absolute;
                    left: 60%;
                    height: 40px;
                    width: 150px;
                }
        }

    }
}