*{
    box-sizing: border-box;
}
.chat-box-container{
    height: 90vh;
    width: 100%;
    border: 1px solid blueviolet;
    display: flex;
    .chatarea{
        width : 70%;
        border: 1px solid yellow;
    }
    .chatterlist{
        width: 30%;
        border: 1px solid green;
    }
}