*{
    margin: 0px;
    padding: 0px;
}
.vcenter{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    // border: 1px solid red;
}

.postdiv{
    position: relative;
}
.postbox{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 10px 1px;
    // border: 1px solid red;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.645);  

    .userinfo{
        display: flex;

        .username{
            text-transform: capitalize;
            font-size: 20px;
            letter-spacing: 1px;
            font-family: 'Rampart One', cursive !important ; 
        }

        .dropdown{
                margin-right: 15px ;
                margin-top: 2px;
                margin-left: -70px;
                height: 20px;
                width: 10px;
                position: absolute;
                right: -10px;
                top: 5px;
                padding-left: 5px;
                padding-top: 5px;
                // display: flex;
                // align-items: center;
                // border : 1px solid red;

                .dropdownContents{
                    pointer-events: none;
                    position: absolute;
                    left: -150px ;
                    box-shadow: 0px 1px 10px white;
                    border: 2px solid #cad2c5;
                    width: 150px;
                    z-index: 200;
                    font-size: 18px;
                    text-align: center;
                    background-color: white ;
                    opacity: 0;
                    transform: translateY(20px);
                    transition:  opacity 150ms ease-in-out , transform 220ms ease-in-out  ;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    flex-direction: column;
                    .deletepost{
                        // border: 1px solid red;
                        border-bottom: 1px solid #cad2c5  ;
                        width: 90%;
                    }
                }
                .fa-ellipsis-vertical{
                    pointer-events: none;
                }                
                .active{
                    opacity: 100;
                    pointer-events: auto !important ;
                    transform: translateY(0px);
                    transition:  opacity 150ms ease-in-out , transform 220ms ease-in-out  ;
                }

            }

    }

    .avatar{
        margin-right: 10px;
        width: 50px;
    }

    .contentbox{
        min-width: 70%;
        min-height: 30px;
        padding: 10px 10px;
        margin: 10px 10px ;
        display: flex;
        background-color: #cad2c5 ;
        align-items: center;
        border-radius: 10px;
        font-size: 17px ;
        font-weight: 600;
        font-family: sans-serif ;

    }

    .commentbox  form {
        // border: 1px solid red;
        display: flex;
        align-items: center;

        .commentbutton{
            // max-height: 30px;
        padding: 8px 10px;
        margin: 10px 10px ;
        border-radius: 10px;
        border-width: 0px;
        font-family: sans-serif;
        color: inherit;
        font-weight: 600;
        background-color: #cad2c5;
        }

    }

    .commentbox textarea{
        resize: none;
        min-width: 70%;
        max-height: 20px;
        padding: 8px 10px;
        margin: 10px 10px ;
        display: flex;
        background-color: #cad2c5 ;
        align-items: center;
        border-radius: 10px;
        // font-size: 17px ;
        font-weight: 500;
        font-family: sans-serif ;
        // overflow: scroll;
        // scroll-behavior: smooth;
        // scroll-margin: 1px;
    }

    .commentbox textarea::-webkit-scrollbar {
        display: none;
      }

    .likescomments{
        margin: 0px 5px;
        display: flex;
        align-items: center;
        font-size: 17px;


        .likes , .comments{
             
            margin: 0px 5px ;
            cursor: pointer;

        }
    }

    .commentlist{
        // margin: 5px 10px ;
        width: 95%;
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: visible;
        .comment{
            margin: 10px 10px  ;
            padding: 5px 10px;
            display: flex;
            position: relative;
            border-radius: 10px;
            background-color: #cad2c5;
            // align-items: flex-start;
            

            .username{
                text-transform: capitalize;
            font-size: 17px;
            font-weight: 500;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 1px;
            }

            .commenttime{
                // display: inline-;
                font-size: 12px;
                font-weight: 600;
            }

            .name_com{
                margin: 0px 10px;
                // display: flex;

                span{
                    display: flex;
                    align-items: center;
                    
                    .username{
                        
                        margin-right: 5px;
                    }
                }
            }
             .comm_avatar{
                width: 40px;
                // left: 0px;
                // top: 0px;
            }
            .dropdown{
                margin-right: 15px ;
                margin-top: 2px;
                margin-left: -70px;
                height: 20px;
                width: 10px;
                position: absolute;
                right: -10px;
                top: 5px;
                padding-left: 5px;
                padding-top: 5px;
                // display: flex;
                // align-items: center;
                // border : 1px solid red;

                .dropdownContents{
                    pointer-events: none;
                    position: absolute;
                    left: -150px ;
                    box-shadow: 0px 1px 10px white;
                    border: 2px solid #cad2c5;
                    width: 150px;
                    z-index: 200;
                    font-size: 18px;
                    text-align: center;
                    background-color: white ;
                    opacity: 0;
                    transform: translateY(20px);
                    transition:  opacity 150ms ease-in-out , transform 220ms ease-in-out  ;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    .deletecomm{
                        border-bottom: 1px solid #cad2c5  ;
                        width: 90%;
                    }
                }
                .fa-ellipsis-vertical{
                    pointer-events: none;
                }
                
                .active{
                    opacity: 100;
                    pointer-events: all;
                    transform: translateY(0px);
                    transition:  opacity 150ms ease-in-out , transform 220ms ease-in-out  ;
                }

            }
            
        }
    }

    .commentlist::-webkit-scrollbar{
        display: none;
    }

}


.friends{
    position: absolute;
    top: 20px ;
    right: 20px;
    border-radius: 10px;
    min-width: 100px;
    background-color: white;
    padding: 10px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .person{
        cursor: pointer;
        padding: 5px 0px ;
    }



}