

.vcenter{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.postbox{
    background-color: white;
    width: 40vw;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 10px 1px;
    // border: 1px solid red;    

    .userinfo{
        display: flex;

        .username{
            text-transform: capitalize;
            font-size: 20px;
            letter-spacing: 1px;
            font-family: 'Rampart One', cursive;
        }
    }

    .avatar{
        margin-right: 10px;
        width: 50px;
    }

    .contentbox{
        min-width: 70%;
        min-height: 30px;
        padding: 10px 10px;
        margin: 10px 10px ;
        display: flex;
        background-color: #cad2c5 ;
        align-items: center;
        border-radius: 10px;
        font-size: 17px ;
        font-weight: 600;
        font-family: sans-serif ;

    }

    .commentbox  form {
        // border: 1px solid red;
        display: flex;
        align-items: center;

        .commentbutton{
            // max-height: 30px;
        padding: 8px 10px;
        margin: 10px 10px ;
        border-radius: 10px;
        border-width: 0px;
        font-family: sans-serif;
        color: inherit;
        font-weight: 600;
        background-color: #cad2c5;
        }

    }

    .commentbox textarea{
        resize: none;
        min-width: 70%;
        max-height: 20px;
        padding: 8px 10px;
        margin: 10px 10px ;
        display: flex;
        background-color: #cad2c5 ;
        align-items: center;
        border-radius: 10px;
        // font-size: 17px ;
        font-weight: 500;
        font-family: sans-serif ;
        // overflow: scroll;
        // scroll-behavior: smooth;
        // scroll-margin: 1px;
    }

    .commentbox textarea::-webkit-scrollbar {
        display: none;
      }

    .likescomments{
        margin: 0px 5px;
        display: flex;
        align-items: center;
        font-size: 17px;


        .likes , .comments{
             
            margin: 0px 5px ;
            cursor: pointer;

        }
    }

    .commentlist{
        // margin: 5px 10px ;
        width: 95%;
        max-height: 200px;
        overflow: scroll;
        .comment{
            margin: 10px 10px  ;
            padding: 5px 10px;
            display: flex;
            border-radius: 10px;
            background-color: #cad2c5;
            align-items: flex-start;
            

            .username{
                text-transform: capitalize;
            font-size: 17px;
            font-weight: 500;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 1px;
            }

            .commenttime{
                // display: inline-;
                font-size: 12px;
                font-weight: 600;
            }

            .name_com{
                margin: 0px 10px;
                // display: flex;

                span{
                    display: flex;
                    align-items: center;
                    
                    .username{
                        
                        margin-right: 5px;
                    }
                }
            }
             .comm_avatar{
                width: 40px;
                // left: 0px;
                // top: 0px;
            }
        }
    }

    .commentlist::-webkit-scrollbar{
        display: none;
    }

}
