<head>
   
</head>
<body>
    
</body>
</html>
<body>
 <div>
  <p>Hi! <%= comment.user.name %></p>
  <br />
  <br />
  <h3> your comment  <span> <%=comment.content%> </span> just got published on codeSocial </h3>
  
  <br />
  <br />
  <p> Thanks!  </p>
 </div>
</body>
