* {
  box-sizing: border-box; }

.chat-box-container {
  height: 90vh;
  width: 100%;
  border: 1px solid blueviolet;
  display: flex; }
  .chat-box-container .chatarea {
    width: 70%;
    border: 1px solid yellow; }
  .chat-box-container .chatterlist {
    width: 30%;
    border: 1px solid green; }
