.vcenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.postbox {
  background-color: white;
  width: 40vw;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10px 1px; }
  .postbox .userinfo {
    display: flex; }
    .postbox .userinfo .username {
      text-transform: capitalize;
      font-size: 20px;
      letter-spacing: 1px;
      font-family: 'Rampart One', cursive; }
  .postbox .avatar {
    margin-right: 10px;
    width: 50px; }
  .postbox .contentbox {
    min-width: 70%;
    min-height: 30px;
    padding: 10px 10px;
    margin: 10px 10px;
    display: flex;
    background-color: #cad2c5;
    align-items: center;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif; }
  .postbox .commentbox form {
    display: flex;
    align-items: center; }
    .postbox .commentbox form .commentbutton {
      padding: 8px 10px;
      margin: 10px 10px;
      border-radius: 10px;
      border-width: 0px;
      font-family: sans-serif;
      color: inherit;
      font-weight: 600;
      background-color: #cad2c5; }
  .postbox .commentbox textarea {
    resize: none;
    min-width: 70%;
    max-height: 20px;
    padding: 8px 10px;
    margin: 10px 10px;
    display: flex;
    background-color: #cad2c5;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    font-family: sans-serif; }
  .postbox .commentbox textarea::-webkit-scrollbar {
    display: none; }
  .postbox .likescomments {
    margin: 0px 5px;
    display: flex;
    align-items: center;
    font-size: 17px; }
    .postbox .likescomments .likes, .postbox .likescomments .comments {
      margin: 0px 5px;
      cursor: pointer; }
  .postbox .commentlist {
    width: 95%;
    max-height: 200px;
    overflow: scroll; }
    .postbox .commentlist .comment {
      margin: 10px 10px;
      padding: 5px 10px;
      display: flex;
      border-radius: 10px;
      background-color: #cad2c5;
      align-items: center; }
      .postbox .commentlist .comment .username {
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 1px; }
      .postbox .commentlist .comment .commenttime {
        font-size: 12px;
        font-weight: 600; }
      .postbox .commentlist .comment .name_com {
        margin: 0px 10px; }
        .postbox .commentlist .comment .name_com span {
          display: flex;
          align-items: center; }
          .postbox .commentlist .comment .name_com span .username {
            margin-right: 5px; }
      .postbox .commentlist .comment .comm_avatar {
        width: 40px; }
  .postbox .commentlist::-webkit-scrollbar {
    display: none; }
