<head>

</head>
<body>
    <h2>Hy <%= token.name %></h2>
    <br>
    <br>
    <h4> ` we're sending you this mail beacuse u requested a password reset , Below is your security-key to procced ` </h4>
    <br>
    <br>
    <h2> your one time pass is <strong> <%= token.accescode %> </strong>  </h2>
    <br>    
    <br>
    <h4> ` if you haven't requested a password reset you can ignore this mail you password wont't change ` </h4> 
    <br>
    <h4> Thank you </h4>   
    <h4> The codesocial team </h4>   
</body>